ion-button{
    margin: 15px;
<<<<<<< HEAD
}
/* Estilo para el formulario */
.form-list {
    padding: 10px;
  }
  
  .form-item {
    margin-bottom: 10px;
  }
  
  .form-label {
    font-weight: bold;
    
  }
  
  .form-value {
    font-style: italic;
  }
  
  .form-textarea {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none; /* Desactiva el redimensionamiento manual */
    overflow-y: auto; /* Desplazamiento vertical automático */
  }
  
  
  
  
  
  
=======
}
>>>>>>> 46fd173cd755c599c55732533c0d7ace1423e002
