<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-title>OFRECER</ion-title>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://media.wired.com/photos/5a6a61938c669c70314b300d/master/w_2240,c_limit/Google-Map-US_10.jpg"/>
  <ion-card>
    <ion-card-content>
      <p>Dirección: Av. Vicuña Mackenna</p>
      <p>Enumeración: 4917</p>
      <p>Código postal: 8940000</p>
      <p>Ciudad: Santiago</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notas:</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="danger">Ofrecer</ion-button>
</ion-content>
