<ion-tabs>
  <ion-tab-bar slot="bottom">       
    <ion-tab-button tab="SolicitarServicio" >
      <ion-icon name="calendar-outline"></ion-icon>
      SolicitarServicio
    </ion-tab-button>
    <ion-tab-button tab="Menu" >
      <ion-icon name="home-outline"></ion-icon>
      Menu
    </ion-tab-button>   
    <ion-tab-button tab="ActivarColab">
      <ion-icon name="people-circle-outline"></ion-icon>
      Activar
    </ion-tab-button>
    <ion-tab-button tab="SoliColab">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      Solicitudes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
