<ion-content class="ion-padding ion-text-center">
  <img src="assets/plumbing-card.png" />
  <ion-grid>
    <ion-row justify-content-center>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Iniciar Sesión</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>              
              <ion-input label="Correo" name="correo" type="text" required [(ngModel)]="credenciales.correo"></ion-input>
            </ion-item>

            <ion-item>              
              <ion-input label="Contraseña" name="password" type="password" required [(ngModel)]="credenciales.password"></ion-input>
            </ion-item>

            <ion-button color="dark" fill="clear" size="full">¿Olvidaste tu contraseña?</ion-button>
            <ion-button color="danger" size="full" (click)="login()">Iniciar Sesión</ion-button>            
            
            <ion-button color="danger" fill="clear" size="full" (click)="register()">Registrarse</ion-button>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
