<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title size="large">REGISTRO</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="datos.perfil">
        <ion-list-header>
          <ion-label>Por favor, selecciona tu tipo de usuario.</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Cliente</ion-label>
          <ion-radio value="CLIENTE"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Colaborador</ion-label>
          <ion-radio value="COLABORADOR"></ion-radio>
        </ion-item>
        <ion-button size="small" color="danger">
          <ion-icon slot="icon-only" name="help"></ion-icon>
        </ion-button>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="datos.perfil">
        <ion-list-header>
          <ion-label>Por favor, rellena los campos con tu información.</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="datos.nombre" name="nombre" aria-label="nombre" placeholder="Ingrese su nombre" type="text"></ion-input>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="datos.correo" name="correo" aria-label="correo" placeholder="Ingrese su correo electrónico" type="email"></ion-input>
          <ion-icon name="mail-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Número telefónico</ion-label>
          <ion-input [(ngModel)]="datos.numero" name="numero" aria-label="numero" placeholder="Ingrese su número de celular" type="tel"></ion-input>
          <ion-icon name="call-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]="datos.password" name="password" aria-label="password" placeholder="Ingrese su contraseña" type="password"></ion-input>
          <ion-icon name="eye" slot="end" ></ion-icon>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="danger" (click)="registrar()">REGISTRARSE</ion-button>
</ion-content>
